html {
    background-image: url(../img/bg/dico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body > div.niveaux {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

body > div.niveaux > section {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%/10);
    margin: 0;
}

body > div.niveaux > section > h2,
body > div.niveaux > section > ul {
    flex: auto;
    text-align: center;
}

body > div.niveaux > section > ul {
    padding: 0;
    margin: 0;
    width: 90%;
    border-radius: 1em;
}

body > div.niveaux > section > ul > li {
    font-size: 1.25em;
    font-variant: small-caps;
    list-style: none;
    margin: 1em 0;
}

body > div.niveaux > section.niveau_1 > h2 { color: dodgerblue; }
body > div.niveaux > section.niveau_1 > ul { background-color: rgba(30,144,255,0.4); }

body > div.niveaux > section.niveau_2 > h2 { color: green; }
body > div.niveaux > section.niveau_2 > ul { background-color: rgba(0,128,0,0.4); }

body > div.niveaux > section.niveau_3 > h2 { color: goldenrod; }
body > div.niveaux > section.niveau_3 > ul { background-color: rgba(218,165,32,0.4); }

body > div.niveaux > section.niveau_4 > h2 { color: chocolate; }
body > div.niveaux > section.niveau_4 > ul { background-color: rgba(210,105,30,0.4); }

body > div.niveaux > section.niveau_5 > h2 { color: crimson; }
body > div.niveaux > section.niveau_5 > ul { background-color: rgba(220,20,60,0.4); }